{{!-- template-lint-disable link-rel-noopener no-curly-component-invocation no-implicit-this --}}
{{#if (not (eq version currentVersion))}}
  <div class="old-version-warning">
    <i class="icon-attention-circled"></i><strong>Old Guides - </strong>You are viewing the guides for Ember {{version}}.

    {{#link-to "version.show" "release" path class="btn"}} VIEW {{currentVersion}} {{/link-to}}
  </div>
{{/if}}

{{#if guidemaker.sourceRepo}}
  <a
    href="{{guidemaker.sourceRepo}}/edit/master/guides/{{editVersion}}{{model.id}}.md"
    target="_blank"
    class="edit-page icon-pencil"
    rel="noopener"
  >
    Edit Page
  </a>
{{/if}}

<h1>
  {{page.currentPage.title}}
</h1>
<hr>

{{markdown-to-html model.content extensions="showdown-section-groups"}}

{{chapter-links pages=pages}}
