{{!-- template-lint-disable link-rel-noopener no-action no-curly-component-invocation --}}
{{#if this.searchService.index}}
  <input
    id="search-input"
    type="search"
    value={{this.value}}
    oninput={{perform this.search value="target.value"}}
    placeholder="Search the guides"
    autocomplete="off"
    onfocus={{action "onfocus"}}
    onblur={{action "onblur"}}
    data-test-search-input
  >

  {{!-- Search results dropdown --}}
  {{#ember-tether
    target="#search-input"
    targetAttachment="bottom left"
    attachment="top left"
    constraints=this._resultTetherConstraints
    class="ds-dropdown-results"
  }}
    {{#if this.showDropdown}}
      <span class="ds-suggestions ds-dropdown-menu">
        {{#dropdown-header}}
          Search Results
        {{/dropdown-header}}

        {{#each this.searchService.results as |result|}}
          {{search-result result=result}}
        {{else}}
          <div class="algolia-docsearch-suggestion">
            <div class="algolia-docsearch-suggestion--noresults">
              <p>
                No results found.
                {{#if this.deprecationsGuideURL}}
                  Try searching the <a href={{this.deprecationsGuideURL}} target="_deprecations">deprecations guide</a>.
                {{/if}}
              </p>
            </div>
          </div>
        {{/each}}
        <div class="powered-by-algolia">
          <a href="https://www.algolia.com/" target="_blank" rel="noopener">
            <img src="/images/logos/search-by-algolia.svg" alt="Search Powered by Algolia">
          </a>
        </div>
      </span>
    {{/if}}
  {{/ember-tether}}
{{/if}}
