<div class="search-input" ...attributes>
  {{#if this.searchService.index}}
    <input
      id="search-input"
      type="search"
      value={{this.value}}
      oninput={{perform this.search value="target.value"}}
      placeholder="Search the guides"
      autocomplete="off"
      data-test-search-input
      {{on "focus" this.onfocus}}
      {{on "blur" (perform this.closeMenu)}}
    />

    {{! Search results dropdown }}
    <EmberTether
      @target="#search-input"
      @targetAttachment="bottom right"
      @attachment="top right"
      @constraints={{this._resultTetherConstraints}}
      @class="ds-dropdown-results"
    >
      {{#if this.showDropdown}}
        <div class="ds-suggestions ds-dropdown-menu" data-test-search-dropdown>
          <DropdownHeader>
            Search Results
          </DropdownHeader>
          {{#each this.searchService.results as |result|}}
            <SearchResult @result={{result}} />
          {{else}}
            <div class="algolia-docsearch-suggestion">
              <div
                class="algolia-docsearch-suggestion--noresults"
                data-test-search-noresults
              >
                <p>
                  No results found.
                  {{#if this.deprecationsGuideURL}}
                    Try searching the
                    <a
                      href={{this.deprecationsGuideURL}}
                      target="_deprecations"
                    >
                      deprecations guide
                    </a>.
                  {{/if}}
                </p>
              </div>
            </div>
          {{/each}}
          <div class="powered-by-algolia">
            <a
              href="https://www.algolia.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="/images/logos/search-by-algolia.svg"
                alt="Search Powered by Algolia"
              />
            </a>
          </div>
        </div>
      {{/if}}
    </EmberTether>
  {{/if}}
</div>
