<ul class="table-of-contents" ...attributes>
  {{#each @data as |page|}}
    {{! template-lint-disable simple-unless }}
    {{#unless (or page.skipToc (get page "skip-toc"))}}
      {{#if page.pages}}
        {{#let
          (starts-with (or page.url page.id) (or @currentSection.url @currentSection.id))
          as |sectionOpen|
        }}
          <li class="toc-item toc-group" aria-expanded={{if sectionOpen "true" "false"}}>
            <CpPanel @open={{sectionOpen}} as |p|>
              <LinkTo @route="version.show" @model={{or page.url page.id}} class="section-title" data-test-toc-link={{page.title}}>
                <span class="link-text">
                  {{page.title}}
                </span>
              </LinkTo>
              <p.body>
                <TableOfContents @data={{page.pages}} @currentPage={{@currentPage}} @currentSection={{@currentSection}} class="sub-table-of-contents" />
              </p.body>
            </CpPanel>
          </li>
        {{/let}}
      {{else if page.isHeading}}
        <li class="toc-heading">{{page.title}}</li>
      {{else}}
        <li class="toc-item toc-link {{if (eq @currentPage.url page.url) "selected"}}">
          <LinkTo @route="version.show" @model={{page.url}} data-test-toc-link={{page.title}}>
            <span class="link-text">
              {{page.title}}
            </span>
          </LinkTo>
        </li>
      {{/if}}
    {{/unless}}
  {{/each}}
</ul>