{{head-layout}}

{{#es-header links=links}}
  <form>
    {{search-input projectVersion=page.currentVersion}}
  </form>
{{/es-header}}

{{info-banner configName="survey"}}
{{info-banner configName="infoBanner"}}

<main class="container">
  {{outlet}}
</main>

{{es-footer}}
