{{!-- template-lint-disable no-action --}}
<div class="sidebar-container">
  <EsSidebar>
    <label for="version-select" class="visually-hidden">Guides version</label>
    {{#if this.versions}}
      <PowerSelect
        @options={{this.versions}}
        @onChange={{action "selectVersion"}}
        @selected={{@model.version}}
        as |version|>
        {{shorten-version version}} {{#if (includes version this.application.model.ltsVersions)}}(LTS){{/if}}
      </PowerSelect>
    {{/if}}

    <nav class="toc-container {{if this.versions "versions"}}" aria-label="table of contents">
      <TableOfContents
        @data={{@model.pages}}
        @currentSection={{this.page.currentSection}}
        @currentPage={{this.page.currentPage}}
      />
    </nav>
  </EsSidebar>
  <div class="example-content">
    {{outlet}}
  </div>
</div>